<% content_for :head do %>
  <% provide(:title, "About") %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>

    <li class="active">About</li>
  </ul>

<div class="row-fluid">
  <div class="span12">

    <h2 class="center">
      <%= link_to "Detailed Updates", 
      "https://github.com/naathyn/Ampersand/commits/master/", 
      :alt => "Ampersand's Updates via Github", :target => "_blank" %>
    </h2>

      <hr />

    <div class="row-fluid">
      <div class="span6">
        <h2 style="padding-bottom:10px;"> Background </h2>

        <p>
          Using a Linux operating system for the first time quickly fed my interest in the web application
          genre (database and development, website design, coding etc). This led me to installing Ubuntu 
          Server, where I was vigourously motivated to learn the ropes around LAMP  (aka LAMP Server,  
          Linux, Apache MySQL, PHP). Having gotten a fairly advanced mail server up and running, I found 
          myself wanting to create more and more web applications. 
          <i>Thanks

            <%= link_to "Flurdy", "http://www.flurdy.com/", :alt => "Flurdy", 
            :target => "_blank" %>
          </i>
        </p>

        <p>
          I had heard my father mentioning Ruby on Rails a few times in the past, but had brushed it off 
          as-- just-another-neo-language trying to supersede Python, Perl, C++ or similar languages-- 
          without really looking in-to the specifications of Ruby on Rails.  One day while browsing new 
          Linux Distrobutions, I came across a distro named 

          <%= link_to "Turnkey Linux", "http://www.turnkeylinux.org/", 
          :alt => "Turnkey Linux", :target => "_blank" %>.
        </p>

        <p>
          Turnkey offers all sorts of developer's bundles, one of which being Ruby on Rails.  It looked 
          appealing, so I decided to actually research it for a change.  It turns out to be a beautiful 
          language and proves to yield aesthetically appeasing web applications.  I decided to install the 
          pre-requisites on my machine and get going with rails development.  This is my first very Ruby on 
          Rails application, and first project of this magnitude. Although I have a 'limited' background 
          involving coding and development, I am very pleased with this project so far and love learning 
          ways to improve.
        </p>
      </div>

      <div class="span6">
        <h2 style="padding-bottom:10px;"> Development </h2>

      <p>
        This application is built on Ubuntu 12.10, 3.5.0-19 kernel with Ruby 1.9.3p327 - Rails 3.2.9.  It 
        started out as an experiment, and now is becoming quite a project. My goal for Ampersand is to 
        become a fashionable, secure and well-accessible social platform. What does that mean? I am 
        figuring that out as I go.
      </p>

      <p>
        Having that said, my plans are eligible to change, but as of now, Ampersand offers  login/
        registration, user profile, shares, liked shares, follows/followers, automatic gravatar sync, 
        @replies, <strong id="cp">Captcha's</strong>, online notifications, SSL (encrypted connection to 
        ensure protected passwords and user information) and an overall interactive user-interface.  Some 
        new developments include: public groups, instant messaging, reputation system, geo-location 
        and photo/video uploads.
      </p>

      <p>
        Ampersand is currently being hosted on a 

          <%= link_to "Heroku", "https://www.heroku.com/", 
          :alt => "Heroku", :target => "_blank" %>

        server (a free online database with SSL encyption that offers developers a secure testing platform 
        for their projects) If everything goes as planned, I hope to host Ampersand under my own domain 
        soon.  None-the-less, I hope you like what what's in development so far!  Go ahead: give it a try, 
        everything is secure. Sign up, and take a look!
      </p>

        </div>
      </div>
    </div>
  </div>

<hr>

  <div class="row-fluid">
    <div class="span8 offset2 quote">

      <p>
        I would like to thank

          <%= link_to "Michael Hartl", "http://www.michaelhartl.com/", 
          :alt => "Michael Hartl", :target => "_blank" %>,

        a self-less, kind and brilliant man for his help in making all of this possible.

      </p>

      <p>
        His

          <%= link_to "Ruby on Rails Tutorial: 
          Learn Web Development with Rails", 
          "http://www.railstutorial.org/", 
          :alt => "Ruby on Rails Tutorial: 
          Learn Web Development with Rails", 
          :target => "_blank" %>

        is where it all began for me and my journey learning Rails. Without 
        Michael and his kind works, I guarentee hundreds if not thousands of aspiring 'Rubyists' 
        would have become uninterested and given up, simply because they could not find a single Rails 
        tutorial applying practicality alongside example.
      </p>  

      <p>
        Thanks to Michael, Rails can be <i>anyone's</i> playground.
      </p>

  </div>
</div>
