<% content_for :head do %>
  <% provide(:title, @title) %>	
<% end %>

	<div class=" navbar navbar-inverse navbar-fixed-top">
  	<div class="navbar-inner">
			<div class="container">
    		<%= render 'layouts/navigation_edit' %>
			</div>
		</div>
	</div>

		<aside class="side-module side-menu mini-profile">
			<a href="<%= user_path(current_user) %>" class="share-anchor">
      	<section>
     			<%= render 'shared/user_info' %>
      	</section>
			</a>
      <section>
      	<%= render 'shared/stats' %>
      </section>
			<span>
				<%= render 'shared/message_form' %>
			</span>
		</aside>
			<div class="share-container">
				<%= render 'shared/inbox' %>
			</div>
