<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<aside class="side-module side-menu mini-profile">
  <a href="<%= user_path(current_user) %>" class="share-anchor">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </a>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <span>
      <%= render 'shared/message_form' %>
    </span>
  </aside>

<div class="share-container">
  <%= render 'feeds/main/inbox' %>
</div>
