<% if signed_in? %>
<div class="row-fluid">
     <aside class="span3" style="float:left;position:fixed;width:228px;">
       <section>
				<%= render 'shared/message_form' %>
			</section>
			</aside>
				<div class="span9" style="float:right;min-width:400px;">
					<div class="well-header">Displaying <%= Message.all.count %> private messages.</div>
					<%= render 'shared/inbox' %>
					<div class="well-bottom" style="text-align:right;"><%= link_to "Return to Feed", root_path %></div>
				</div>
			</div>
		<% else %>
	<%= yield %>
<% end %>
