<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>
  
    <% if signed_in? %>

      <%= yield flash.now[:info] = "Last updated on December 30th at 9:45 pm, 
          CST: Click on the timestamps to view a 'prettier' share!" %>

      <div class="row-fluid">

        <aside class="span4 side-module side-menu mini-profile">
          <a href="<%= user_path(current_user) %>" class="share-anchor">
             <section>
              <%= render 'shared/user_info' %>
            </section>
          </a>
            <section>
              <%= render 'shared/stats' %>
            </section>
            <section class="side-module-share">
              <%= render 'shared/share_form' %>
            </section>
          </aside>

          <div id="feed" class="span8">
            <div class="well-header">
              <a href="<%= user_path(current_user) %>" 
                title="Profile"><i class="icon-user"></i></a>

              <a href="<%= captchas_user_path(current_user) %>"
                title="Captchas"><i class="icon-camera"></i></a>

              <a href="<%= chatroom_users_path %>" 
                title="Chatroom"><i class="icon-comment" id="comment-bar"></i></a>
            </div>

              <%= render 'feeds/main/share' %>

            <div class="well-bottom" style="margin-bottom:1em;">
              <a href="#" title="Top"><i class="icon-arrow-up"></i></a>
            </div>
          </div>

          <div id="pagination" style="float:right;clear:both;">
            <%= will_paginate @shares if @shares.any? %>
          </div>
        </div>

      <% else %>

    <%= yield flash.now[:info] = "Last updated on December 30th at 9:45 pm, 
                                 CST tagged: pages dedicated to members' shares" %>

      <div class="center hero-unit">

        <h1>Ampersand</h1>
       <h3>Simple. Modern. Interactive.</h3>
      <h5>Alpha Release #2</h5>

    <%= link_to "Sign up now!", signup_path,
        class: "btn btn-large btn-primary" %>

    <h6>
        <%= link_to "Watch the Alpha Release #1 Video", 
        "http://www.youtube.com/watch?v=XKwHgbiyne4",
        alt: "Ampersand Alpha Release #1",
        target: "_blank" %>
    </h6>

  </div>

<% end %>
