<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<%= yield flash.now[:info] = "Last updated on December 3rd at 1:20 am, CST. tagged: routes tests, and home-page" %>

  <% if signed_in? %>

    <aside class="side-module side-menu mini-profile">
      <a href="<%= user_path(current_user) %>" class="share-anchor">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      </a>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section class="side-module-share">
          <%= render 'shared/share_form' %>
        </section>
      </aside>

      <div class="well-header">
        <a href="<%= user_path(current_user) %>" alt="Profile">
          <i class="icon-user"> </i>
        </a>
      </div>

        <div class="share-container">
          <%= render 'feeds/main/share' %>
        </div>

      <div class="well-bottom">
        <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
      </div>

        <div id="pagination" style="float:right;">
          <%= will_paginate @shares %>
        </div>

    <% else %>

      <div class="center hero-unit">

        <h1>Ampersand</h1>
       <h3>Simple. Modern. Interactive.</h3>
      <h5>Alpha Release #2</h5>

    <%= link_to "Sign up now!", signup_path,
        class: "btn btn-large btn-primary" %>

    <h6>
        <%= link_to "Watch the Alpha Release #1 Video", 
        "http://www.youtube.com/watch?v=XKwHgbiyne4",
        alt: "Ampersand Alpha Release #1",
        target: "_blank" %>
    </h6>

  </div>

<% end %>
