<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Talk of the Town</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Social Rails</h1>

    <p>
    is an independent, "online outlet" I am developing
    with many similarites to Twitter.  <h3>Built on Linux with 100% 
    free software</h3>  Read more in the <%= link_to "About", about_path %>, section or sign up and try it out!
    </p>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>

  </div>


  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
