<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <% unless signed_in? %>
	  <%= yield flash.now[:info] = "Currently building as of, Today at 1:00 p.m. CST" %>
  <% else %>
    <%= yield flash.now[:notice] = "The new feed is still undergoing tests and tweaks.  If there are any problems whatsoever, please let me know." %>
  <% end %>

  <div class=" navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
	    <div class="container">
    	  <%= render 'layouts/navigation_root' %>
			    </div>
				</div>
			</div>

    <% if signed_in? %>

			<aside class="side-module side-menu mini-profile">
			  <a href="<%= user_path(current_user) %>" class="share-anchor">
       	  <section>
        	  <%= render 'shared/user_info' %>
       		</section>
				</a>
       	<section>
          <%= render 'shared/stats' %>
        </section>
          <span>
				  <%= render 'shared/share_form' %>
			  </span>
			</aside>

			<div class="share-container">
			  <div class="well-header"> 
          <a href="<%= user_path(current_user) %>" alt="Profile">
            <i class="icon-user" style="padding-left:8px;"> </i>
          </a>
          <a href="<%= inbox_path %>" alt="Inbox">
            <i class="icon-envelope"></i>
          </a>
        </div>
				<%= render 'feeds/user_shares' %>
			</div>

    <% else %> <!-- if user is signed in -->

			<div class="center hero-unit">
    	  <h1>Ampersand</h1>
    		  <h3>
    			Simple.  Modern.  Interactive.
				</h3>
			<h5>Alpha Release #2</h5>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
		<h6 style="font-size:11px;">Alpha Release #1 Video</h6>
    <center>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XKwHgbiyne4?rel=0" frameborder="0" allowfullscreen></iframe>
		</center>

	</div>
<% end %>
