<% if signed_in? %>
		<div class="row-fluid">
    	<aside class="span4">
      		<section>
        		<%= render 'shared/user_info' %>
      				</section>
      					<section>
        					<%= render 'shared/stats' %>
      							</section>
      							<section>
										<%= render 'shared/micropost_form' %>
									</section>
								</aside>
						<div class="span8">
					<div class="well well-header">&roups :: !nbox :: gl#bals</div>
				<%= render 'shared/feed' %>
			</div>
		</div>
	<% else %>
	<div class="row-fluid">
		<div class="center hero-unit">
    	<h1>Ampersand</h1>
    	<h3>
    		Simple.  Modern.  Interactive.
			</h3>
			<h5>In development</h5>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
</div>
	<div class="row-fluid">
		<div class="span6">
			<h2>Developing</h2>
				<h5>Integrated ajax-style @replies</h5>
					<div class="progress progress-striped active" style="width: 30%;">
    				<div class="bar" style="width: 75%;"><b>75%</b></div>
    					</div>
								<h5>Integrated navigation</h5>
									<div class="progress progress-striped active" style="width: 30%;">
    							<div class="bar" style="width: 90%;"><b>90%</b></div>
    							</div>
										<h5>Users' @reposts <span class="label label-info">Developed</span></h5>
										<div class="progress progress-striped active" style="width: 30%;">
    								<div class="bar" style="width: 100%;"><b>100%</b></div>
    								</div>
										<h5>Layout compatibilty for Iphone, Android, Netbook etc <span class="label label-info">Developed</span></h5>
									<div class="progress progress-striped active" style="width: 30%;">
    						<div class="bar" style="width: 100%;"><b>100%</b></div>
    					</div>
						<p><a class="btn" href="updates">View details &raquo;</a></p>
					</div>
				<div class="span6">
			<h2>Lorem Ispum</h2>
		<p>
Lorem ipsum dolor sit amet, no cum dicat definitionem, at recteque tincidunt repudiandae vis, soleat partem concludaturque at vix. Vel appetere antiopam ad, cu vel purto vulputate. Ut dicta dolores eum, ea usu movet detracto assentior. Pri ut alterum invidunt. Probo prima corrumpit mea et, denique disputationi et pri.
		</p>
<br />
		<p>
At diam oblique feugiat sit, eu sed soleat appellantur. Qui eu legere consectetuer, ne aperiri veritus est, eu munere soleat docendi pri. Suscipit ponderum fabellas vim te. Te quis suas euripidis usu, sed ad noster nominavi scaevola.
		</p>
			<p>
				<a class="btn" href="#">View details &raquo;</a>
				</p>
			</div>
		</div>
	</div>
<% end %>
