<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Your Social Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Ampersand</h1>

    <p>
    An independent online outlet with many similarites to Twitter.
    </p>
      <h3>Built on Linux with 100% free software</h3>
    <p>
    Read more in the <%= link_to "About", about_path %> section, or sign up and try it out!
    </p>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>

  </div>


  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
