<div class="well-inner-header">

    <span class="captchas" data-original-title="<% if item.user.captchas.any? %>
                                                <%= item.user.captcha.content %>
    <% end %>">
                                        <%= gravatar_for(item.user, size: 48) %>
    </span>

    <span class="user" id="<%= item.user.name %>">
      <%= link_to item.user.realname, item.user %>
    </span>

    <span class="username">@<%= item.user.name %></span>

    <span class="timestamp">
      <small>
        <%= link_to "#{time_ago_in_words(item.created_at)} ago", 
            item, { :remote => true, 'data-toggle' => "modal", 
            'data-target' => "#modal-window", :class => "timestamp" } %>
      </small>
    </span>

  </div>

  <span class="content">
    <%= auto_link(item.content, :html => { :target => '_blank' }) do |a|
  truncate(a, :length => 30) end %>
</span>
