<div class="well-inner-header">

  <% if item.user.captchas.any? %>

    <% item.user.captchas.shuffle! %>
    <span class="captchas" 
          data-original-title="<%= item.user.captchas.last.content %>">
      <%= gravatar_for(item.user, size: 48) %>
    </span>

  <% else %>

    <%= gravatar_for(item.user, size: 48) %>

  <% end %>

    <span class="user" id="<%= item.user.name %>">
      <%= link_to item.user.realname, item.user %>
    </span>

    <span class="username">@<%= item.user.name %></span>

    <small class="timestamp">
      <%= link_to "#{time_ago_in_words(item.created_at)} ago",
      likes_micropost_path(item), { remote: true, 'data-toggle' => "modal",
      'data-target' => "#modal-window", class: "timestamp" } %>
    </small>

  </div>

  <span class="content" data-toggle="collapse"
        data-target="#<%= item.id %>_reply">
    <%= auto_link(item.content, html: { target: '_blank' }) do |content|
        truncate(content, length: 30) end %>
  </span>
