<% content_for :head do %>
  <% provide(:title, "Sign in") %>	
<% end %>

	<div class=" navbar navbar-inverse navbar-fixed-top">
  	<div class="navbar-inner">
			<div class="container">
    	<%= render 'layouts/navigation_root' %>
		</div>
	</div>
</div>

<h1>Sign in</h1>

<div class="row-fluid">
  <div class="span5 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name, "Username" %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Not a member? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

