<div id="<%= reply_item.id %>" class="well well-inner">
  <div class="well-inner-header">

    <%= link_to gravatar_for(reply_item.user), reply_item.user %>
      <span class="user" id="<%= reply_item.user.name %>">
        <%= link_to reply_item.user.realname, reply_item.user %>
      </span>

    <a data-toggle="collapse" data-target="#<%= reply_item.id %>_reply" 
    class="item-anchor">

      <span class="timestamp">
        <small><%= time_ago_in_words(reply_item.created_at) %> ago</small>
      </span>
      <span class="username">@<%= reply_item.user.name %></span>

  </div>

      <span class="content">
        <%= auto_link(reply_item.content, :html => { :target => '_blank' }) do |a|
        truncate(a, :length => 30) end %>
      </span>

    </a>

    <div class="well-footer">

      <ul class="inline-share-stats share-stats">
        <li id="like_count<%= reply_item.id %>">
          <a><i class="icon-heart"></i></a>
          <strong><%= reply_item.likes.count %></strong>
        </li>
      </ul>

      <ul class="share-actions">
        <li>
          <a class="shown" data-toggle="collapse" 
          data-target="#<%= reply_item.id %>_reply">
          <i class="icon-comment"></i>Reply</a>
        </li>

        <% if current_user.liked?(reply_item) %>

          <%= render :partial => 'feeds/shared/unlike', 
          :object => reply_item, :as => 'item' %>

        <% else %>

          <%= render :partial => 'feeds/shared/like', 
          :object => reply_item, :as => 'item' %>

        <% end %>
      </ul>

    <%= render :partial => 'feeds/shared/form', 
    :object => reply_item, :as => 'item' %>

  </div>
</div>
