<div id="<%= atreply_item.user.name %>_<%= atreply_item.id %>" class="well well-inner">

  <div class="well-inner-header">

    <%= link_to gravatar_for(atreply_item.user), atreply_item.user %>
      <% if atreply_item.user.admin? %>

        <span class="admin">
          <%= link_to atreply_item.user.realname, atreply_item.user %>
        </span>

      <% else %>

        <span class="user">
          <%= link_to atreply_item.user.realname, atreply_item.user %>
        </span>

      <% end %>

      <% if !current_user?(atreply_item.user) %>
        <a data-toggle="collapse" data-target="#<%= atreply_item.id %>_reply" class="item-anchor">
      <% end %>

        <span class="timestamp">
          <small><%= time_ago_in_words(atreply_item.created_at) %> ago </small>
        </span>

        <span class="username">
          <small>@<%= atreply_item.user.name %></small>
        </span>

      </div> <!-- well-inner-header -->

        <span class="content">
          <%= atreply_item.content %>
        </span>

      </a> <!-- item-anchor -->

          <div class="well-footer">

          <ul class="inline-share-stats share-stats">
            <li id="like_count<%= atreply_item.id %>">
              <a><i class="icon-heart"></i></a>
              <strong><%= atreply_item.likes.count %></strong>
            </li>
          </ul>

          <ul class="share-actions">
            <li>
              <a class="shown" data-toggle="collapse" data-target="#<%= atreply_item.id %>_reply"> <!-- toggles line 71 -->
                <i class="icon-comment"></i>Reply
              </a>
            </li>

          <li id="like_form<%= atreply_item.id %>">
        <% if current_user.liked?(atreply_item) %>

            <%= form_for(current_user.fans.find_by_like_id(atreply_item),
                        html: { method: :delete },
                        remote: true) do |f| %>
                <i class="icon-heart"></i>
              <%= f.submit "Unlike", class: "btn-link" %>
            <% end %>

        <% else %>

            <%= form_for(current_user.fans.build(like_id: atreply_item.id), 
                        remote: true) do |f| %>
              <div><%= f.hidden_field :like_id %></div>
                <i class="icon-thumbs-up"></i>
              <%= f.submit "Like", class: "btn-link" %>
            <% end %>

        <% end %>
      </li>
    </ul>

          <div id="<%= atreply_item.id %>_reply" class="show collapse">
            <div class="inline-share-reply">
              <div class="inline-container">

                <%= form_for(@micropost) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                    <textarea id="micropost_content" name="micropost[content]" placeholder="Reply to @<%= atreply_item.user.name %>">@<%= atreply_item.user.name %> </textarea>
                  <%= f.submit "Reply", class: "btn btn-small btn-primary" %>
                <% end %>

              </div>
            </div>
          </div>

  </div>
</div>
