<div id="<%= inbox_item.id %>" class="well well-inner">
  <div class="well-inner-header">

    <%= link_to gravatar_for(inbox_item.user), inbox_item.user %>
      <span class="user" id="<%= inbox_item.user.name %>">
        <%= link_to inbox_item.user.realname, inbox_item.user %>
      </span>

    <a data-toggle="collapse" data-target="#<%= inbox_item.id %>_reply" 
    class="item-anchor">

      <span class="timestamp">
        <small><%= time_ago_in_words(inbox_item.created_at) %> ago</small>
      </span>
      <span class="username">!<%= inbox_item.user.name %></span>

  </div>

      <span class="content">
        <%= auto_link(inbox_item.convo, :html => { :target => '_blank' }) do |a|
            truncate(a, :length => 30) end %>
      </span>

    </a>

      <% if !current_user?(inbox_item.user) %>

        <div class="well-footer">

          <ul class="share-actions">
            <li>
              <a class="shown" data-toggle="collapse" 
              data-target="#<%= inbox_item.id %>_reply">
              <i class="icon-comment"></i>Reply</a>
            </li>
          </ul>

      <%= render :partial => 'feeds/shared/message_form', 
      :object => inbox_item, :as => 'item' %>

  </div>

      <% else %>

  <div class="well-footer-empty"> </div> <!-- lazy workaround - will fix soon -->

      <% end %>

</div>
