<div id="<%= reply_item.id %>" class="well well-inner">

  <%= render :partial => 'feeds/shared/header', 
  :object => reply_item, :as => 'item' %>

    <div class="well-footer">

      <ul class="inline-share-stats share-stats">
        <li id="like_count<%= reply_item.id %>">
          <a><i class="icon-heart"></i></a>
          <strong><%= reply_item.likes.count %></strong>
        </li>
      </ul>

      <ul class="share-actions">
        <li>
          <a class="shown" data-toggle="collapse" 
          data-target="#<%= reply_item.id %>_reply">
          <i class="icon-comment"></i>Reply</a>
        </li>

        <% if current_user.liked?(reply_item) %>

          <%= render :partial => 'feeds/shared/unlike', 
          :object => reply_item, :as => 'item' %>

        <% else %>

          <%= render :partial => 'feeds/shared/like', 
          :object => reply_item, :as => 'item' %>

        <% end %>
      </ul>

    <%= render :partial => 'feeds/shared/form', 
    :object => reply_item, :as => 'item' %>

  </div>
</div>
