<div id="<%= item.id %>" class="well well-inner">
  <%= render partial: 'feeds/shared/header', object: item, as: :item %>

    <div class="well-footer">
      <%= render partial: 'feeds/shared/footer', object: item, as: :item %>

        <ul class="share-actions">
          <% if current_user?(item.user) %>
            <%= render partial: 'feeds/shared/delete', object: item, as: :item %>
          <% else %>

            <li>
              <a class="shown" data-toggle="collapse"
                  data-target="#<%= item.id %>_reply">
              <i class="icon-comment"></i>Reply</a>
            </li>

          <% if current_user.liked?(item) %>
            <%= render partial: 'feeds/shared/unlike', object: item, as: :item %>
          <% else %>
            <%= render partial: 'feeds/shared/like', object: item, as: :item %>
          <% end %>
        </ul>

      <%= render partial: 'feeds/shared/form', object: item, as: :item %>
    <% end %>
  </div>
</div>
