<div id="<%= item.id %>" class="well well-inner">

  <%= render(partial: ("feeds/shared/header"), 
      locals: { item: item }) %>

    <span class="content" data-toggle="collapse"
          data-target="#<%= item.id %>_reply">

      <%= render(partial: ("feeds/shared/content"),
          locals: { item: item }) %>

    </span>

    <div class="well-footer">

      <%= render(partial: ("feeds/shared/footer"), 
          locals: { item: item }) %>

      <%= link_to "Detach", likes_micropost_path(item), { remote: true,
          'data-toggle' =>"modal", 'data-target' => "#modal-window",
              class: "shown detach" } %>

        <ul class="share-actions">

          <% if current_user?(item.user) %>
            <%= render(partial: ("feeds/shared/delete"), 
                locals: { item: item }) %>
          <% else %>

            <li>
              <a class="shown" data-toggle="collapse"
                  data-target="#<%= item.id %>_reply">
              <i class="icon-comment"></i>Reply</a>
            </li>

          <li id="like_form<%= item.id %>">
            <%= render(partial: ("feeds/shared/like_form"), 
                locals: { item: item }) %>
          </li>

        </ul>

      <div id="<%= item.id %>_reply" class="show collapse">
        <div class="inline-share-reply">
          <div class="inline-container">

            <%= render(partial: ("feeds/shared/form"), 
                locals: { item: item }) %>

          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
