<div id="<%= item.id %>" class="well well-inner">
  <%= render partial: 'feeds/shared/header', object: item, as: :item %>

  <span class="content" data-toggle="collapse"
    data-target="#<%= item.id %> #reply">
    <%= render partial: 'feeds/shared/content', object: item, as: :item %>
  </span>

  <div class="well-footer">
    <%= render partial: 'feeds/shared/footer', object: item, as: :item %>

    <a href="<%= likes_micropost_path(item) %>" class="page-fade shown detach"
        data-remote="true" data-toggle="modal"
        data-target="#modal-window"> Detach </a>

      <ul class="share-actions">
        <% if current_user?(item.user) %>
          <%= render partial: 'feeds/shared/delete', object: item, as: :item %>
        <% else %>
        <li>
          <a class="shown" data-toggle="collapse"
              data-target="#<%= item.id %> #reply">
            <i class="icon-comment"></i> Reply </a>
        </li>
        <li id="like_form<%= item.id %>">
          <%= render partial: 'feeds/shared/like_form', object: item, as: :item %>
        </li>
      </ul>

      <div id="reply" class="show collapse">
        <div class="inline-share-reply">
          <div class="inline-container">
            <%= render partial: 'feeds/shared/form', object: item, as: :item %>
          </div>
        </div>
      </div>

    <% end %>
  </div> <!-- well-footer -->
</div> <!-- well-inner-->
