<div id="<%= share_item.id %>" class="well well-inner">
  <div class="well-inner-header">

    <%= link_to gravatar_for(share_item.user), share_item.user %>
      <span class="user" id="<%= share_item.user.name %>">
        <%= link_to share_item.user.realname, share_item.user %>
      </span>
      <span class="timestamp">
        <small>
          <%= link_to "#{time_ago_in_words(share_item.created_at)} ago", 
              share_item, { :remote => true, 'data-toggle' => "modal", 
              'data-target' => "#modal-window", :class => "timestamp" } %>
        </small>
      </span>

    <a data-toggle="collapse" data-target="#<%= share_item.id %>_reply" 
    class="item-anchor">

      <span class="username">@<%= share_item.user.name %></span>

  </div>

      <span class="content">
        <%= auto_link(share_item.content, :html => { :target => '_blank' }) do |a|
            truncate(a, :length => 30) end %>
      </span>

    </a>

      <div class="well-footer">

        <ul class="inline-share-stats share-stats">
          <li id="like_count<%= share_item.id %>">
            <a><i class="icon-heart"></i></a>
            <strong><%= share_item.likes.count %></strong>
          </li>
        </ul>

      <%= link_to "Detach", share_item, { :remote => true, 
          'data-toggle' => "modal", 'data-target' => "#modal-window", 
          :class => "shown detach" } %>

        <ul class="share-actions">
          <% if current_user?(share_item.user) %>

            <li>
              <i class="icon-remove"></i>
              <%= link_to "Delete", share_item, method: :delete, 
                  data: { confirm: "Are you sure you want to delete this?" }, 
                  class: "btn-link", title: share_item.content %>
            </li>

          <% else %>

            <li>
              <a class="shown" data-toggle="collapse" 
              data-target="#<%= share_item.id %>_reply">
              <i class="icon-comment"></i>Reply</a>
            </li>

            <li id="like_form<%= share_item.id %>">
              <% if current_user.liked?(share_item) %>

                <%= form_for(current_user.fans.find_by_like_id(share_item),
                            html: { method: :delete },
                          remote: true) do |f| %>
                    <i class="icon-heart"></i>
                  <%= f.submit "Unlike", class: "btn-link" %>
                <% end %>

              <% else %>

                <%= form_for(current_user.fans.build(like_id: share_item.id), 
                            remote: true) do |f| %>
                      <div><%= f.hidden_field :like_id %></div>
                    <i class="icon-thumbs-up"></i>
                  <%= f.submit "Like", class: "btn-link" %>
                <% end %>

          <% end %>
        </li>
      </ul>

      <div id="<%= share_item.id %>_reply" class="show collapse">
        <div class="inline-share-reply">
          <div class="inline-container">

            <%= form_for(@micropost) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
                <textarea id="micropost_content" name="micropost[content]" placeholder="Reply to @<%= share_item.user.name %>">@<%= share_item.user.name %> </textarea>
              <%= f.submit "Reply", class: "btn btn-small btn-primary" %>
            <% end %>

          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
