$("#like_form<%= @micropost.id %>").html("<%= escape_javascript(render('scripts/like')) %>")
$("#like_count<%= @micropost.id %>").html("<a><i class='icon-heart'></i></a><strong><%= @micropost.likes.count %></strong>")
$("#modal_like_form<%= @micropost.id %>").html("<%= escape_javascript(render('scripts/modal_like')) %>")
$("#modal_like_count<%= @micropost.id %>").html("<a><i class='icon-heart'></i></a><strong><%= @micropost.likes.count %></strong>")
