<div id="blog_<%= blog.id %>" class="well-body well-inner blog-wrapper">

  <h2 class="title">
    <%= link_to blog.title, entry_path(blog) %>

    <% if current_user?(blog.user) %>
      <%= render partial: 'blogs/actions', object: blog, as: :blog %>
    <% end %>

    <span class="blog-timestamp">
      <%= blog.timestamp %>
    </span>
  </h2>

  <div class="format">
    <%= auto_link blog.content  %>
  </div>

  <p class="location" id="blog_comments">By
    <%= link_to blog.user.realname, blog_user_path(blog.user) %> with
    <%= link_to pluralize(blog.comment_count, 'comment'),
          "#{entry_path(blog)}#comments" %>
  </p>

  <% if action_name == "show" %>
    <p class="pull-right" id="blog_comments">
      <a href="javascript:if(window.print)window.print()">
        <i class="icon-print"></i> Print This</a>
    </p>
  <% end %>

  <span class="bio" id="blog_tags">
    <% blog.tags.each do |tag| %>
      <i class="icon-tag"></i> <%= link_to tag.name, tag %>
    <% end %>
  </span>

  <div id="blog_comments">
    <% if identified?(blog) %>
      <hr id="comments">

      <% unless @comments.empty? %>
        <p class="lead"> Comments </p>

        <ul class="comments">
          <%= will_paginate @comments %>
          <%= render @comments %>
          <%= will_paginate @comments %>
        </ul>
      <% end %>

      <p class="lead"> <%= note_for_comment %> </p>

      <%= render 'comments/form' if signed_in? %>
    <% end %>
  </div>
</div>
