<div id="<%= blog.id %>" class="well-body well-inner blog-wrapper">

  <h2 class="title">
      <%= blog.title %>

    <% if current_user?(blog.user) %>
      <%= render( partial: ('blogs/actions'), locals: { blog: blog } ) %>
    <% end %>

    <span class="blog-timestamp">
      <%= blog.timestamp %>
    </span>
  </h2>

  <div class="format">
    <%= auto_link(blog.content, html: { target: '_blank' }) do |content|
        truncate(content, length: 30) end %>
  </div>

  <span class="bio">
    <%= render(partial:("blogs/photo"), locals: { item: blog }) %> <br />
    <%= blog.tag_placeholder %>

    <% unless blog.tags.empty? %>
      <% blog.tags.each do |tag| %>
        <i class="icon-tag"></i> <%= link_to tag.name, tag %>
      <% end %>
    <% end %>
  </span>

</div>
