<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

 <%= yield flash.now[:notice] = "Your captcha's are looking pretty empty.
      How about comin' up with a lil' somethin' to fill it up?" if @captchas.empty? %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %>  <span class="divider">/</span> </li>
  <li><%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li> <%= link_to current_user.username, current_user %>
    <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<div class="captcha-page row-fluid">
  <aside class="span7">
    <div class="container-fluid">
      <%= render 'captchas/about' %>
    </div>
  </aside>
  <aside class="span5">
    <%= render 'captchas/form' %>
      <%= will_paginate @captchas %>
    <ul class="captcha">
      <%= render @captchas %>
    </ul>
  </aside>
</div>
