<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %>  <span class="divider">/</span> </li>
  <li><%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li> <%= link_to current_user.username, current_user %>
    <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<% if @captchas.any? %>
  <%= render 'captchas/some' %>
<% else %>
  <%= render 'captchas/none' %>
<% end %>
