<div class="photo tapetwo tapethree" style="float: none;">
  <div class="profile">
    <div class="profile-header">

      <legend><%= @title %></legend>
      <div class="row-fluid page-fade">
        <div class="span6 offset3">

          <% if %W(edit update).include? action_name %>
            <%= gravatar_for @user, size: 75 %>
            <br /><br /><br /><br /><br />
            <%= link_to "Change", "https://gravatar.com/emails", target: "_blank",
                  class: "btn btn-small", style: "margin-bottom: 1em;" %>
          <% end %>

          <%= form_for @user do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

              <%= f.label :realname, "Full Name" %>
              <%= f.text_field :realname, placeholder: "Your Name" %>

              <% if %W(edit update).include? action_name %>
                <%= f.label :location %>
                <%= f.text_field :location, placeholder: "Where are you from?" %>

                <%= f.label :website %>
                <%= f.text_field :website, placeholder: "http://" %>

                <%= f.label :bio, "About Me" %>
                <%= f.text_area :bio, rows: "3",
                    placeholder: "In a short 255 words, please :)" %>
              <% end %>

              <% unless action_name == "edit" %>
                <%= f.label :name, "Username" %>
                <%= f.text_field :name, placeholder: "Your Username" %>
              <% end %>

              <%= f.label :email %>
              <%= f.email_field :email, placeholder: "Email" %>

              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: :off, placeholder: "Password" %>

              <%= f.label :password_confirmation, "Retype Password If Changing" %>
              <%= f.password_field :password_confirmation, placeholder: "Password" %>

            <%= f.submit "Submit!", class: "btn btn-large btn-success" %>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
