<li id ="<%= blog.id %>" class="blogs">

  <% if blog.has_photo? %>
    <%= link_to(image_tag(blog.photo_path, class: "gravatar blog",
          title: blog.user.realname), blog.photo_path, target: "_blank") %>
  <% else %>
    <%= image_tag("ampersand.jpg", class: "gravatar blog",
          title: blog.user.realname) %>
  <% end %>

  <span class="lead"> <%= link_to blog.title, blog %> </span>

  <p class="page-fade bio">
    by <%= link_to blog.user.realname, blog.user %>
      with
    <%= link_to pluralize(blog.comment_count, 'comment'), blog %>
  </p>

  <p class="format">
    <%= auto_link truncate(blog.content.gsub(Blog::HTML_TAGS, ' '),
      length: 185) %>
    <span class="bio"> <%= link_to "keep reading", blog %> </span>
  </p>

  <% if blog.tags.any? %>
    <p class="page-fade bio">
      <% blog.tags.each do |tag| %>
        <i class="icon-tag"></i> <%= link_to tag.name, tag %>
      <% end %>
    </p>
  <% end %>
</li>
