<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<%= yield flash.now[:notice] = "Your blog is looking a little empty?
      How about posting a lil' somethin' to fill it up?" if @blogs.empty? %>

<% @user ||= current_user %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
  <li> <%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li> <%= link_to "Blogs", :blogs_users %> <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<div class="row-fluid">
  <aside class="span8">
    <%= render @blogs %>
    <%= will_paginate @blogs unless @blogs.empty? %>
  </aside>

  <aside class="span3 user_info">
    <%= render partial: 'shared/blog_user_info' %>
    <%= render 'shared/tagbar' unless @blogs.empty? %>
  </aside>
</div>
