<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %>  <span class="divider">/</span> </li>
  <li> <%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<div class="row-fluid">
  <aside class="span8">
    <legend class="legend">Community Blogs
      <span class="page-fade pull-right" style="margin-top: -3px;">
        <% if signed_in? %>
          <%= link_to "Go To Your Blog", blog_user_path(current_user),
                class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Get a Free Blog", :signup,
                class: "btn btn-primary" %>
        <% end %>
      </span>
    </legend>

    <% unless @blogs.empty? %>
      <ol class="blogs">
        <% @blogs.each do |blog| %>
          <li id ="<%= blog.id %>" class="blogs">

            <% if blog.has_photo? %>
              <%= link_to(image_tag(blog.photo_path, class: "gravatar blog",
                    title: blog.user.realname), blog.photo_path, target: "_blank") %>
            <% else %>
              <%= image_tag("ampersand.jpg", class: "gravatar blog",
                    title: blog.user.realname) %>
            <% end %>

            <span class="lead"> <%= link_to blog.title, entry_path(blog) %> </span>

            <p class="page-fade bio">
              by <%= link_to blog.user.realname, blog_user_path(blog.user) %>
                with
              <%= link_to pluralize(blog.comment_count, 'comment'),
                "#{entry_path(blog)}#comments" %>
            </p>

            <p class="format">
              <%= auto_link truncate blog.preview, length: 185 %>
              <span class="bio"> <%= link_to "keep reading", entry_path(blog) %> </span>
            </p>

            <% if blog.tags.any? %>
              <p class="page-fade bio">
                <% blog.tags.each do |tag| %>
                  <i class="icon-tag"></i> <%= link_to tag.name, tag %>
                <% end %>
              </p>
            <% end %>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @blogs %>
    <% end %>
  </aside>

  <aside class="span3">
    <%= render 'shared/tagbar' %>
  </aside>
</div>
