<% content_for :head do %>
  <% provide(:title, @title) %>
  <%= javascript_include_tag :blogs %>
<% end %>

<% @user ||= current_user %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
  <li> <%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li> <%= link_to "Blogs", :blogs_users %> <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<% if current_user?(@user) %>
  <div class="alert alert-block" style="margin-top: 1em;">
    <h2>Heya Blogger!</h2>
        Welcome to your new blog! It is still under construction
        so expect a fancier layout and the ability to
        create drafts in the near future!
  </div>
<% end %>

<div class="row-fluid">
  <aside class="span8">
    <% if current_user?(@user) %>
      <%= link_to "Post New Entry", :new_blog,
            class: "btn btn-large btn-primary" if signed_in? %>
      <hr />
    <% end %>
    <%= render @blogs %>
    <%= will_paginate @blogs unless @blogs.empty? %>
  </aside>
  <div class="page-fade">
    <aside class="span3">
      <%= render partial: 'shared/blog_user_info' %>
      <%= render 'show_tagbar' unless @blogs.empty? %>
    </aside>
  </div>
</div>
