<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", :root %> 
      <span class="divider">/</span>
    </li>
    <li><%= link_to "Members", :users %> 
      <span class="divider">/</span>
    </li>

    <li class="active"><%= @title %></li>
  </ul>

  <div class="row-fluid">

    <aside class="span8">
      <legend class="legend">Community Blogs</legend>

      <% unless @blogs.empty? %>
        <ol class="blogs">
          <%= render(partial: ("users_blogs"), collection: @blogs, as: :blog) %>
        </ol>
        <%= will_paginate @blogs %>
      <% end %>
    </aside>

  <%= render("index_tagbar") %>
</div>
