<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<% @user ||= current_user %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
  <li> <%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <li> <%= link_to "Blogs", :blogs_users %> <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<div class="row-fluid">
  <aside class="span8">
    <% if current_user?(@user) %>
      <div class="page-fade center">
        <%= link_to "Post New Entry", :new_blog,
              class: "btn btn-large btn-primary" %>
      </div> <hr />
    <% end %>
    <%= render @blogs %>
    <%= will_paginate @blogs unless @blogs.empty? %>
  </aside>

  <aside class="page-fade span3 user_info">
    <%= render partial: 'shared/blog_user_info' %>
    <%= render 'show_tagbar' unless @blogs.empty? %>
  </aside>
</div>
