<% provide(:title, "Edit user") %>
<% current_user ||= @user %>
<h1>Update your profile</h1>

<div class="row-fluid">
  <div class="span6 offset3">
   <%= gravatar_for @user %>
			<br /><br /><br /><br /><a type="button" class="btn btn-small" href="http://gravatar.com/emails" alt="Sign in to Gravatar to change your profile picture" type="submit" target="_blank" style="margin-bottom:10px;">@gravatar</a>
		</button>

  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :realname, "Full Name" %>
      <%= f.text_field :realname %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :bio, "About Me" %>
      <%= f.text_area :bio, rows: "2", placeholder: "In a short 200 words, please :)" %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>

  	<%= link_to "Delete account", @user, method: :delete,
																	class: "btn-small btn-danger",
                                  data: { confirm: "Are you sure you want to delete your account?  We hate to see you go." } %>

	</div>
</div>
