<% content_for :head do %>
  <%= stylesheet_link_tag "users_index" %>
  <% provide(:title, 'Members') %>
<% end %>

<h2 class="center" style="padding-bottom:2em;">
  <%= pluralize(@users.count, "member") %> and growing
</h2>

<%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
<%= will_paginate %>
