<% content_for :head do %>
  <% provide(:title, 'Members') %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>
    <li class="active">Members</li>
  </ul>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#members">Members (<%= @users.count %>)</a></li>

    <li><a href="#online">Online Now! (<%= @online_users.count %>)</a></li>
  </ul>
 
  <div class="tab-content">

    <div class="tab-pane active" id="members">
      <ul class="users-follow" style="margin:0;">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    </div>


  <div class="tab-pane" id="online">
    <ul class="users-follow" style="margin:0;">
      <%= render @online_users %>
    </ul>
    <%= will_paginate @online_users %>
  </div>

</div>
