<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid">

  <ul class="breadcrumb page-fade">
    <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
    <li class="active"> <%= @title %> </li>
  </ul>

  <div class="span4 offset3 page-fade pull-right">
    <%= form_tag :users, method: :get do %>
      <%= select_tag :search, options_for_select(@search_users.map { |user|
          [ "#{user.realname}, #{user.username}", user.id ]
        }),
      onchange: 'this.form.submit()', prompt: "Find Someone!" %>
    <% end %>
  </div>

  <ul class="users-follow" style="margin: 0;">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
