<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid page-fade">

  <ul class="breadcrumb">
    <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
    <li class="active"> <%= @title %> </li>
  </ul>

  <div class="span4 offset3 pull-right">
    <%= form_tag :users, method: :get do %>
      <%= select_tag 'search',
        options_for_select(@users.map { |user|
          ["#{user.realname}, @#{user.name}", user.id]
        }), onchange: 'this.form.submit()', prompt: "Find Someone!" %>
    <% end %>
  </div>

  <ul class="users-follow" style="margin: 0;">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
