<% content_for :head do %>
  <% provide(:title, 'Sign up') %>
<% end %>

<h1>Sign up</h1>

  <div class=" navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <%= render 'layouts/navigation_root' %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span5 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :realname, "Full Name" %>
      <%= f.text_field :realname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :name, "Username" %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Retype Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
