<% content_for :head do %>
  <% provide(:title, 'Members Online') %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>
    <li><%= link_to "Members", users_path %> 
    <span class="divider">/</span></li>

    <li class="active">Users Online</li>
  </ul>

  <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <%= will_paginate %>
