<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>
    <li><%= link_to "Members", users_path %> 
    <span class="divider">/</span></li>
    <li><%= link_to current_user.realname, user_path(current_user) %> 
    <span class="divider">/</span></li>

    <li class="active">Replies</li>
  </ul>

<%= render 'shared/profile_stats' %>
<%= render 'feeds/main/atreply' %>
<%= render 'microposts/modal' %>
