<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <% @user ||= current_user %>
  <ul class="breadcrumb">
    <li><%= link_to "Home", :root %> 
      <span class="divider">/</span>
    </li>
    <li><%= link_to "Members", :users %> 
      <span class="divider">/</span>
    </li>

    <li class="active"><%= @title %></li>
  </ul>

  <%= render 'shared/profile_stats' %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#profile"><%= @title %></a></li>
      <% if current_user?(@user) %>
        <li><a href="#replies">Replies (<%= @replies.count %>)</a></li>
      <% end %>
    <li><a href="#follow">Following (<%= @following.count %>)</a></li>
    <li><a href="#followed">Followers (<%= @followers.count %>)</a></li>
  </ul>
 
  <div class="tab-content">

    <div class="tab-pane active" id="profile">
      <%= render 'feeds/main/micropost' %>
    </div>

      <% if current_user?(@user) %>
        <div class="tab-pane" id="replies">
          <%= render 'feeds/main/reply' %>
        </div>
      <% end %>

    <div class="tab-pane" id="follow">
      <% unless @following.empty? %>
        <ul class="users-follow">
          <%= render @following %>
        </ul>
        <%= will_paginate @following %>
      <% end %>
    </div>

    <div class="tab-pane" id="followed">
      <% unless @followers.empty? %>
        <ul class="users-follow">
          <%= render @followers %>
        </ul>
        <%= will_paginate @followers %>
      <% end %>
    </div>

  </div><!-- tab-content -->

<%= render 'microposts/modal' %>
