<% provide(:title, @user.realname) %>
<div class="profile">
	<div class="profile-header">
		<div class="row-fluid">
			<%= render 'shared/profile_stats' if signed_in? %>
				</div></div></div>
    			<%= render 'follow_form' if signed_in? %>
						<% if @user.microposts.any? && current_user?(@user) %>
				<div class="well-header"><%= pluralize(@user.atreply.count, "@reply") %> for you</div>
      	<ol class="microposts">
    	<%= render @microposts %>
		</ol>
	<%= will_paginate @microposts %>
	<div class="well-bottom" style="padding-bottom:10px;"></div>
	<% end %>
<% if @profile_items.any? %>
<%= render 'shared/profile' if signed_in? %>
<% end %>
