<% provide(:title, @user.realname) %>
<div class="row-fluid">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.realname %>
      </h1>
			<small>@<%= @user.name %></p></small>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h2>@<%= @user.name %></h2> <h4>Displaying the <%= pluralize(current_user.microposts.count, "most recent discussion") %>.</h4>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
