<% content_for :head do %>
  <% provide(:title, @user.realname) %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>
    <li><%= link_to "Members", users_path %> 
    <span class="divider">/</span></li>

    <li class="active"><%= @user.realname %></li>
  </ul>

  <%= render 'shared/profile_stats' %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#profile">@<%= @user.name %></a></li>

      <% if current_user?(@user) %>

    <li><a href="#replies">Replies (<%= current_user.replies.count %>)</a></li>
    <li><a href="#captchas">Captchas (<%= current_user.captchas.count %>)</a></li>

      <% end %>

    <li><a href="#follow">Following (<%= @user.followed_users.count %>)</a></li>
    <li><a href="#followed">Followers (<%= @user.followers.count %>)</a></li>
  </ul>
 
  <div class="tab-content">

    <div class="tab-pane active" id="profile">
      <%= render 'feeds/main/profile' %>
        </div>

      <% if current_user?(@user) %>

        <div class="tab-pane" id="replies">
          <%= render 'feeds/main/atreply' %>
        </div>

        <div class="tab-pane" id="captchas">
          <%= render 'captchas/about_about' %>
        </div>

      <% end %>

      <div class="tab-pane" id="follow">
        <%= render 'users_following' %>
      </div>

      <div class="tab-pane" id="followed">
        <%= render 'users_followers' %>
      </div>

    </div>

<%= render 'microposts/modal' %>
