<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<% @user ||= current_user %>
  <div class="row-fluid">
    <aside class="side-module side-menu mini-profile">
      <a href="<%= user_path(@user) %>" class="share-anchor">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      </a>
      <section>
        <%= render 'shared/stats' %>
          <% if @users.any? %>
            <div class="side-module-share user_avatars">
              <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 32), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
    <div class="share-container">
      <% if @users.any? %>
        <ul class="users-follow">
          <%= render @users %>
        </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
