<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
      <span class="divider">/</span></li>
    <li><%= link_to "Members", users_path %> 
      <span class="divider">/</span></li>
    <li><%= link_to @title, user_path(@user) %> 
      <span class="divider">/</span></li>

    <li class="active"><%= @active %></li>
  </ul>

  <div class="row-fluid">

    <aside class="span4 side-module side-menu mini-profile">

      <a href="<%= user_path(@user) %>" class="share-anchor">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      </a>
        <section>
          <%= render 'shared/stats' %>

            <% if @users.any? %>
              <div class="side-module-share user_avatars">
                <% @users.each do |user| %>
                <%= link_to gravatar_for(user, size: 32), user %>
              <% end %>
            </div>
          <% end %>

        </section>
      </aside>

    <% if @users.any? %>
      <div class="span8 share-container">

        <%= will_paginate %>
          <ul class="users-follow">
            <%= render @users %>
          </ul>
        <%= will_paginate %>

      </div>
    <% end %>

  </div>
