<% provide(:title, @title) %>
	<div class="row-fluid">
  	<aside class="span4">
			<a href="<%= user_path(current_user) %>" style="text-decoration:none;color:#454545;">
       	<section style="cursor:pointer;">
        	<%= render 'shared/user_info' %>
       	</section>
			</a>
    	<section>
      	<%= render 'shared/stats' %>
      		<% if @users.any? %>
        		<div class="user_avatars">
          		<% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 42), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
	<% if @users.any? %>
    <h3><%= @title %></h3>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
