<div class="well">
	<li id="<%= feed_item.id %>" style="padding:0;">
		<span class="user">
			<%= link_to gravatar_for(feed_item.user), feed_item.user %>
				<%= link_to feed_item.user.realname, feed_item.user %>
				<a data-toggle="collapse" data-target="#comment<%= feed_item.id %>" style="color:rgb(51,51,51);text-decoration:none;">
					<span class="username"> <small>@<%=feed_item.user.name %></small>
						<span class="timestamp"><small><%= time_ago_in_words(feed_item.created_at) %> ago </small>
						</span></span></span>
							<span class="content">
								<%= feed_item.content %>
							</span></a>

						<div class="well-footer">

				<a data-toggle="collapse" data-target="#comment<%= feed_item.id %>" style="float:none;padding:0;margin:0;">Expand</a>

			<div id="comment<%= feed_item.id %>" class="show collapse">

			<% if current_user?(feed_item.user) %>
			<%= link_to "Delete", feed_item, method: :delete,
  		data: { confirm: "Are you sure you want to delete this?" }, 
		style: "float:none;padding:0;margin:0;",
	title: feed_item.content %>
	<% end %>	

		<% if current_user!=(feed_item.user) %>

	<form action="/microposts" class="new_micropost" id="new_micropost" method="post">
<a rel="tooltip" title="Your reply is ready to go!  Just include your message after @<%= feed_item.user.name %>" style="padding:0;margin:0;">
  	<textarea id="micropost_content" name="micropost[content]" placeholder="Reply to <%= feed_item.user.realname %>'s share by typing something like @<%= feed_item.user.name %> Hey, follow me!">@<%= feed_item.user.name %> </textarea></a>

			<input name="authenticity_token" type="hidden" value=$<%= csrf_meta_tags %>

				<input class="btn-small btn-primary" name="commit" value="Reply" type="submit" style="margin:0;"></form>
				</div>
			</div>
		<% end %>
	</li>
</div>
