<div class="well-header">Displaying <%= pluralize(@inbox_items.count, "private message") %></div>
	<% if @inbox_items.any? %>
  	<ol class="microposts">
    	<%= render partial: 'shared/inbox_item', collection: @inbox_items %>
  	</ol>
			<div class="well-bottom" style="text-align:right;"><%= link_to "Return to Feed", root_path %></div>
  		<%= will_paginate @inbox_items %>
		<% else %>
	<%= yield flash.now[:info] = "Your inbox seems to be empty.  Are you following anyone?" %>
<% end %>
