<div id="<%= inbox_item.user.name %>_<%= inbox_item.id %>" class="well well-inner">

		<div class="well-inner-header">
			<% if inbox_item.user.admin? %>
				<span class="admin">
					<%= link_to gravatar_for(inbox_item.user), inbox_item.user %>
					<%= link_to inbox_item.user.realname, inbox_item.user %>
				</span>
					<% else %>
				<span class="user">
					<%= link_to gravatar_for(inbox_item.user), inbox_item.user %>
					<%= link_to inbox_item.user.realname, inbox_item.user %>
				</span>
			<% end %>

				<a data-toggle="collapse" data-target="#<%= inbox_item.id %>_reply" style="color:rgb(51,51,51);text-decoration:none;">
					<span class="username"> 
						<small>!<%= inbox_item.user.name %></small>
					</span>
					<span class="timestamp">
						<small><%= time_ago_in_words(inbox_item.created_at) %> ago</small>
					</span>
				</div>

					<span class="content">
						<%= inbox_item.convo %>
					</span>
				</a>

				<% if current_user!=(inbox_item.user) %>
				<div class="well-footer">
					<ul class="share-actions">

					<a class="shown" data-toggle="collapse" data-target="#<%= inbox_item.id %>_reply">
						<li><i class="icon-comment"></i>Reply</li></a></ul>
							<div class="inline-share-reply">
								<div id="<%= inbox_item.id %>_reply" class="show collapse">
									<div class="inline-container">
									<%= form_for(@message) do |f| %>
  									<%= render 'shared/messages_error', object: f.object %>
										<textarea id="message_convo" name="message[convo]" placeholder="Reply to @<%= inbox_item.user.name %>">@<%= inbox_item.user.name %> </textarea>
  								<%= f.submit "Reply", class: "btn btn-small btn-primary" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>

			<% else %>
		<div class="well-footer-empty"> </div>
	<% end %>

</div>
