<% @user ||= current_user %>
<div class="profile-container">
<div class="mini-profile">
<div class="mini-profile-header">

<div class="profile-summary">
<div class="content">
<div class="account">
<%= gravatar_for current_user, size: 32 %>
<b class="fullname"><%= current_user.realname %></b>
<small class="metadata">View my profile page</small>
</div>
</div>
</div>

<div class="mini-profile-container">
<ul class="profile-stats">

<li><a href="<%= user_path(current_user) %>">
<strong><%= @user.microposts.count %></strong> Shares</a></li>
<li><a href="<%= following_user_path(@user) %>">
<strong><%= @user.followed_users.count %></strong> Following</a></li>
<li><a href="<%= followers_user_path(@user) %>">
<strong><%= @user.followers.count %></strong> Followers</a></li>
</ul></div></div>
<div class="sharebox">
<%= render 'shared/micropost_form' %>
</div></div><div>
