<% @user ||= current_user %>
<div class="profile">
  <div class="profile-header">
    <div class="row-fluid">

    <div class="photo tapetwo tapethree">
      <%= gravatar_for(@user, size: 128) %>
    </div>

    <div class="profile-inner">

      <h1 class="fullname">
        <%= @user.realname %>
      </h1>

      <h2 class="name">
        <span class="name">
          <small>@</small><%= @user.name %>  

          <% if @user.online? %>
            <span class="label label-success">Online!</span>
          <% end %>
        </span>
      </h2>

      <span class="bio"><%= @user.bio %></span>

      <span class="location" style="display:block;"><%= @user.location %></span> 

    </div> <!-- profile-inner -->

      <div class="actions">

        <% if current_user?(@user) %>
          <%= link_to "Edit your profile", edit_user_path(current_user), 
          class: "btn btn-default", style: "margin-bottom: 15px;" %>
        <% else %>
          <%= render 'follow_form' %>
        <% end %>

        <ul class="stats">

          <li>
            <a href="<%= user_path(@user) %>">
              <strong id="@user"><%= @user.microposts.count %></strong> 
              shares
            </a>
          </li>

          <li>
            <a href="<%= following_user_path(@user) %>">
              <strong id="following"><%= @user.followed_users.count %></strong> 
              following
            </a>
          </li>

          <li>
            <a href="<%= followers_user_path(@user) %>">
              <strong id="followers"><%= @user.followers.count %></strong> 
              followers 
            </a>
          </li>
        </ul>

      </div> <!-- actions -->

    </div>  <!-- row-fluid -->
  </div>
</div>
