<div class="profile">
  <div class="profile-header">
    <div class="row-fluid">

    <div class="photo tapetwo tapethree">
      <%= gravatar_for(@user, size: 128) %>
    </div>

    <div class="profile-inner">

      <h1 class="fullname">
        <%= @user.realname %>
          <% if current_user?(@user) %>
            <%= link_to "Captcha' Moments", captchas_user_path(@user), 
            class: "btn btn-success" %>
          <% end %>
      </h1>

      <h2 class="name">
        <small>@</small><%= @user.name %>
      </h2>

      <span class="bio"><%= @user.bio %></span>

      <span class="location">

        <% unless @user.location.empty? %>
          <i class="icon-map-marker"></i> 
            <%= link_to @user.location, wiki_for(@user), target: "_blank" %>
        <% end %>

        <% unless @user.website.nil? %>
          <i class="icon-globe"> </i> 
          <%= auto_link(@user.website, html: { target: "_blank" }) %>
        <% end %>

      </span>

    </div> <!-- profile-inner -->

      <div class="actions">

        <% if current_user?(@user) %>
          <%= link_to "Edit your profile", edit_user_path(@user), 
          class: "btn btn-default", style: "margin-bottom: 15px;" %>
        <% else %>
          <%= render 'follow_form' %>
        <% end %>

        <ul class="stats">

          <li>
            <a href="<%= user_path(@user) %>">
              <strong><%= @microposts.count %></strong> 
              shares
            </a>
          </li>

          <li>
            <a href="<%= following_user_path(@user) %>">
              <strong id="following"><%= @following.count %></strong> 
              following
            </a>
          </li>

          <li>
            <a href="<%= followers_user_path(@user) %>">
              <strong id="followers"><%= @followers.count %></strong> 
              followers 
            </a>
          </li>
        </ul>

      </div> <!-- actions -->

    </div>  <!-- row-fluid -->
  </div>
</div>
