<div id="<%= profile_item.user.name %>_<%= profile_item.id %>" class="well well-inner">

	<div class="well-inner-header">
		<% if profile_item.user.admin? %>
			<span class="admin">
				<%= link_to gravatar_for(profile_item.user), profile_item.user %>
				<%= link_to profile_item.user.realname, profile_item.user %>
			</span>
			<% else %>
			<span class="user">
				<%= link_to gravatar_for(profile_item.user), profile_item.user %>
				<%= link_to profile_item.user.realname, profile_item.user %>
			</span>
			<% end %>

				<a data-toggle="collapse" data-target="#<%= profile_item.id %>_reply" style="color:rgb(51,51,51);text-decoration:none;">

					<span class="username"> 
						<small>@<%= profile_item.user.name %></small>
					</span>
					<span class="timestamp">
						<small><%= time_ago_in_words(profile_item.created_at) %> ago </small></span>
				</div>
					<span class="content">
						<%= profile_item.content %>
					</span>
				</a>

				<div class="well-footer">
					<ul class="inline-share-stats share-stats">
    				<li>
          		<strong><%= profile_item.likes.count %></strong>
								<a><li><i class="icon-heart"></i></li></a>
    					</li>
						</ul>

					<% if current_user != (profile_item.user) %>

						<ul class="share-actions">
							<a class="shown" data-toggle="collapse" data-target="#<%= profile_item.id %>_reply">
								<li><i class="icon-comment"></i>Reply</li>
							</a>
						</ul>

  				<% if current_user.liked?(profile_item) %>
					<ul class="share-actions" id="like_form<%= profile_item.id %>">
						<%= form_for(current_user.opinions.find_by_like_id(profile_item),
    						html: { method: :delete },
             		remote: true) do |f| %>
						<li><i class="icon-heart"></i>
  					<%= f.submit "Unlike", class: "btn-link" %></li>
					<% end %></ul>

  			<% else %>
			<ul class="share-actions" id="like_form<%= profile_item.id %>">
			<%= form_for(current_user.opinions.build(like_id: profile_item.id), 
					remote: true) do |f| %>
  				<div><%= f.hidden_field :like_id %></div>
							<li><i class="icon-thumbs-up"></i>
  						<%= f.submit "Like", class: "btn-link" %></li>
						<% end %>
					</ul>
  			<% end %>
				<div class="inline-share-reply">
					<div id="<%= profile_item.id %>_reply" class="show collapse">
						<div class="inline-container">

					<%= form_for(@micropost) do |f| %>
  					<%= render 'shared/error_messages', object: f.object %>
							<textarea id="micropost_content" name="micropost[content]" placeholder="Reply to @<%= profile_item.user.name %>">@<%= profile_item.user.name %> </textarea>
  					<%= f.submit "Reply", class: "btn btn-small btn-primary" %>
					<% end %>

					</div></div></div>
				<% else %>

				<ul class="share-actions">
			<li>
			<i class="icon-remove"></i>
			<%= link_to "Delete", profile_item, method: :delete, 
				data: { confirm: "Are you sure you want to delete this?" }, 
				style: "vertical-align:4px;", title: profile_item.content %>
			</li></ul>
		<% end %>

	</div>
</div>
