<% @user ||= current_user %>
<div class="page-fade stats">
  <a href="<%= permalink_path(@user.random_post) unless @user.microposts.empty? %>">
    <strong class="stat">
      <%= @user.microposts.count %>
    </strong>
    <%= micropost_synonyms %>
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
