<% @user ||= current_user %>
<div class="stats">
  <% unless @user.microposts.empty? %>
    <a href="<%= permalink_path(@user.random_post) %>">
  <% else %>
    <a href="<%= user_path(@user) %>">
  <% end %>
    <strong class="page-fade stat">
      <%= @user.microposts.count %>
    </strong>
      <%= micropost_synonyms %>
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="page-fade stat">
      <%= @user.followed_users.count %>
    </strong>
      following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="page-fade stat">
      <%= @user.followers.count %>
    </strong>
      followers
  </a>
</div>
