<span class="pull-right">
  <% if current_user?(@message.recipient) && !@message.recipient_deleted? %>
    <%= link_to "Reply", new_user_private_message_path(current_user, reply_to: @message),
          class: "btn"  %>
  <% end %> 
</span>
<p class="center small">
  <%= @message.timestamp %>
</p>
<div class="profile-inner microposts-inner">
  <%= link_to gravatar_for(@message.sender, size: 48), @message.sender %>

  <h1 id="<%= @message.sender.realname %>" class="fullname">
    <%= link_to_message_sender(@message, current_user) %>
  </h1>

  <h2 class="name">
    <small>@</small><%= @message.sender.name %>
  </h2>

  <p class="content">
    <%= auto_link @message.content %>
  </p>

  <p class="small msg_read">
    <%= @message.message_read? ? "Read " + @message.read_on :
        @message.recipient.realname + " has not read this yet."
    %>
  </p>
</div>

<p class="small pull-right">
  Sent to
  <strong><%= link_to_message_recipient(@message, current_user) %></strong>
 </p>
