<% content_for :head do %>
  <% provide(:title, @mailbox) %>
<% end %>

<ul class="breadcrumb">
  <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
  <li> <%= link_to "Members", :users %> <span class="divider">/</span> </li>
  <% unless @inbox.match("inbox") %>
  <li> <%= link_to "Inbox", user_private_messages_path(current_user) %>
    <span class="divider">/</span>
  <% end %>
  </li>
  <li class="active"> <%= @mailbox %> </li>
</ul>

<%= link_to "Compose", new_user_private_message_path(current_user),
      class: "btn btn-success pull-right" %>

<div class="row-fluid">
  <ul class="nav nav-pills navigation">
    <li><%= link_to "Inbox", user_private_messages_path(current_user) %></li>
    <li><%= link_to "Sent", user_private_messages_path(current_user, mailbox: :sent) %></li>
    <li><%= link_to "Trash", user_private_messages_path(current_user, mailbox: :trash) %></li>
  </ul>
</div>

<div class="row-fluid">
  <%= form_tag delete_selected_user_private_messages_path(current_user, method: :post) do %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
	      <tr>
		      <th style="width:6%;">Mark</th>
		      <th style="width:30%;">Message</th>
		      <th>Sent By</th>
		      <th>Sent To</th>
		      <th>Delivered On</th>
		      <th>Received On</th>
	      </tr>
      </thead>
      <tbody>
	      <% if @messages.size == 0 ||
            (@inbox.match("trash") && @messages.size == 0) %>
          <tr class="info">
            <td colspan="8">
              <p class="lead center" style="margin-bottom:0;">
                Your <%= @inbox %> is clean!
              </p>
            </td>
          </tr>
        <% end %>
        <%= render @messages %>
      </tbody>
      <% unless @messages.size == 0 %>
        <tfoot>
          <tr>
	          <td colspan="8">
              <% if @inbox.match("trash") %>
				        <%= submit_tag "Restore", class: "btn btn-success" %>
              <% else %>
		            <%= submit_tag "Delete", class: "btn btn-danger" %>
              <% end %>
	          </td>
	        </tr>
        </tfoot>
      <% end %>
    </table>
    <center><%= will_paginate @messages %></center>
  <% end %>
</div>
