<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="about-page page-fade">

  <ul class="breadcrumb">
    <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
    <li class="active"> <%= @title %> </li>
  </ul>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">

        <h2 class="center">
          <%= link_to "Detailed Updates",
              "https://github.com/naathyn/Ampersand/commits/master/",
              title: "Ampersand's Updates via Github", target: "_blank" %>
        </h2> <hr />

        <div class="row-fluid">
          <div class="span6">

            <h2> Background </h2>

            <p>
              Using a Linux operating system for the first time quickly fed my interest in the web
              application genre (database and development, website design, coding etc).
              This led me to installing Ubuntu Server, where I was vigourously motivated to learn the
              ropes around LAMP (aka LAMP Server, Linux, Apache, MySQL, PHP). Having gotten a fairly
              advanced mail server up and running,
              I found myself wanting to create more and more web applications.
              <i>Thanks

                <%= link_to "Flurdy", "http://www.flurdy.com/", title: "Flurdy",
                    target: "_blank" %>
              </i>
            </p>

            <p>
              I had heard my father mentioning Ruby on Rails a few times in the past, but had brushed it off
              as-- just-another-neo-language trying to supersede Python, Perl, C++ or similar languages--
              without really looking in-to the specifications of Ruby on Rails. One day while browsing new
              Linux Distrobutions, I came across a distro named

              <%= link_to "Turnkey Linux", "http://www.turnkeylinux.org/",
              title: "Turnkey Linux", target: "_blank" %>.
            </p>

            <p>
              Turnkey offers all sorts of developer's bundles, one of which being Ruby on Rails. It looked
              appealing, so I decided to actually research it for a change. It turns out to be a beautiful
              language and proves to yield aesthetically appeasing web applications.
              I decided to install the pre-requisites on my machine and get going with rails development.
              This is my very first Ruby on Rails application, and first project of this magnitude.
              I am very pleased with this project so far and love learning ways to improve the network.
            </p>
          </div> <!-- span6-->

          <div class="span6">
            <h2> Development </h2>

            <p>
              This application is built on Ubuntu 13.04, 3.8.0-19 kernel with Ruby 2.0.0p0 - Rails 3.2.13.
              It started out as an experiment, and now is becoming quite a project.
              My goal for Ampersand is to become a fashionable, secure and well-accessible social platform.
            </p>

            <p>
              Ampersand offers login/
              registration, user profiles, shares and likes, the ability to follow users, live chat,
              blogging, automatic gravatar sync, @replies, <strong id="cp">Captcha's</strong>,
              online notifications, SSL (encrypted connection to ensure protected passwords
              and user information), and an overall interactive user-interface.
              Some new developments include: public groups, instant messaging,
              reputation system, geo-location and photo/video uploads.
            </p>

            <p>
              Ampersand is currently being hosted on a

                <%= link_to "Heroku", "https://www.heroku.com/", title: "Heroku", target: "_blank" %>

              server (a free online database with SSL encyption that offers developers a secure testing
              platform for their projects) If everything goes as planned,
              I hope to host Ampersand under my own domain soon. None-the-less,
              I hope you like what what's in development so far! Go ahead: give it a try,
              everything is secure. Sign up, and take a look!
            </p>

          </div> <!-- span6-->
        </div> <!-- row-fluid -->
      </div> <!-- span12 -->
    </div> <!-- row-fluid -->

    <div class="row-fluid">
      <div class="span12 quote">

        <p>
          I would like to thank

            <b><%= link_to "Michael Hartl", "http://www.michaelhartl.com/", title: "Michael Hartl",
                  target: "_blank" %></b>,

          a self-less, kind and brilliant man for his help in making all of this possible.

        </p>

        <p>
          His

            <b><%= link_to "Ruby on Rails Tutorial:
                        Learn Web Development with Rails", "http://www.railstutorial.org/",
                title: "Ruby on Rails Tutorial:
                           Learn Web Development with Rails",
                target: "_blank" %></b>

          is where it all began for me and my journey in learning Rails.
          Without Michael and his tutorial book, I guarentee hundreds if not thousands of aspiring
          <i>rubyists</i> would have become uninterested and given up,
          simply because they could not find a Ruby on Rails tutorial as thorough and well-documented
          as his. Perhaps I can not speak for the masses, but I do speak for myself.
          If there is an aspiring Ruby on Rails developer reading this, click that link. Start your journey.
          Spiral out.
        </p>

        <p>
          Thanks to Michael, Ruby on Rails can be <i>anyone's</i> playground.
        </p>

      </div> <!-- span12 -->
    </div> <!-- row-fluid -->
  </div><!-- container-fluid -->
</div> <!-- about-page -->
