<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid">

  <% if signed_in? %>

    <% unless @users.blank? %>
      <%= yield flash.now[:success] =
        "Who was in the #{link_to "Chatroom", :chatroom_users} today:
        <b>#{@users}</b>. They may still be chatting, come say hello!" %>
    <% else %>

    <%= yield flash.now[:info] = "Last updated on Monday May 20th at 4:00 a.m.
                                  @usernames in message forms will autocomplete users." %>
    <% end %>

    <aside class="span4 side-module side-menu mini-profile">
      <a href="<%= user_path(current_user) %>" class="share-anchor">
        <section>
          <%= render "shared/user_info" %>
        </section>
      </a>
      <section>
        <%= render "shared/stats" %>
      </section>
      <section class="side-module-share">
        <%= render "shared/share_form" %>
      </section>
    </aside>

    <div id="feed" class="span8">
      <div class="well-header">
        <div class="page-fade">
          <a href="<%= user_path(current_user) %>" title="Profile">
            <i class="icon-user"></i>
          </a>
          <a href="<%= captchas_user_path(current_user) %>" title="Captchas">
            <i class="icon-camera"></i>
          </a>
          <a href="<%= blog_user_path(current_user) %>" title="Your Blog">
            <i id="comment-bar" class="icon-book"></i>
          </a>
        </div>
      </div>
        <%= render 'feeds/main/share' %>
      <div class="well-bottom" style="margin-bottom: 1em;">
        <a href="#" title="Top"> <i class="icon-arrow-up"></i> </a>
      </div>
    </div> <!-- feed-->

    <div id="pagination" style="float: right; clear: both;">
      <%= will_paginate @shares if @shares.any? && action_name == "home" %>
    </div>

  <% else %>

    <%= yield flash.now[:info] = "Last updated on Monday May 20th at 4:00 a.m.
                                  @usernames in message forms will autocomplete users." %>

    <div class="page-fade center hero-unit">
      <h1> Ampersand </h1>
      <h3> Network, Profiles, Blogging </h3>
      <%= link_to "Sign up now!", :signup, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>

</div> <!-- row-fluid -->
