<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid">

  <%= yield flash.now[:info] = @notice %>

  <% if signed_in? %>

    <%= yield flash.now[:success] = @message %>

    <aside class="span4 side-module side-menu mini-profile">
      <a href="<%= user_path(current_user) %>" class="share-anchor">
        <section>
          <%= render "shared/user_info" %>
        </section>
      </a>

      <section>
        <%= render "shared/stats" %>
      </section>

      <section class="side-module-share">
        <%= render "shared/share_form" %>
      </section>

    </aside>

    <div id="feed" class="span8">
      <div class="well-header">
        <a class="pull-left" href="<%= user_path(current_user) %>" title="Profile">
          <i class="icon-user"></i>
        </a>

        <a href="<%= user_private_messages_path(current_user) %>" title="Your Inbox">
          <i id="comment-bar" class="icon-envelope"></i>
        </a>

        <a href="<%= captchas_user_path(current_user) %>" title="Captchas">
          <i class="icon-camera"></i>
        </a>

        <a href="<%= blog_user_path(current_user) %>" title="Your Blog">
          <i id="comment-bar" class="icon-book"></i>
        </a>
      </div>

      <%= render 'feeds/main/share' %>

      <div class="well-bottom" style="margin-bottom: 1em;">
        <a href="#" title="Top"> <i class="icon-arrow-up"></i> </a>
      </div>

    </div> <!-- feed-->

    <div id="pagination" style="float: right; clear: both;">
      <%= will_paginate @shares if @shares.any? && action_name == "home" %>
    </div>

  <% else %>

    <div class="center hero-unit">
      <h1> Ampersand </h1>
      <h3> Network, Profiles, Blogging </h3>
      <%= link_to "Sign up now!", :signup, class: "btn btn-large btn-primary" %>
    </div>

  <% end %>

</div> <!-- row-fluid -->
