<div class="well">
	<li>
		<span class="user">
		<%= link_to gravatar_for(micropost.user), micropost.user %>
		<%= link_to micropost.user.realname, micropost.user %>
			<span class="username"> <small>@<%=micropost.user.name %></small>
  			<span class="timestamp"><small><%= time_ago_in_words(micropost.created_at) %> ago 				</small></span></span></span>
  		<span class="content"><%= micropost.content %></span>
	</li>
	<div class="well-footer">
		<a data-toggle="collapse" data-target="#well-footer<%= micropost.id %>" style="float:none;padding:0;">Reply</a>
		<div id="well-footer<%= micropost.id %>" class="show collapse">
			<form action="/microposts" class="new_micropost" id="new_micropost" method="post" style="padding-bottom:0;padding-top:10px;padding-right:58px;margin:0;">
				<textarea id="micropost_content" name="micropost[content]" placeholder="Tip:  <%= micropost.user.realname %> sent you an @reply.  Be sure to reply back by typing @<%= micropost.user.name %> followed by your message."></textarea>
				<input name="authenticity_token" type="hidden" value=$<%= csrf_meta_tags %>
			<input class="btn-small btn-primary" name="commit" value="Reply" type="submit" style="margin:0;"></form>
		</div>
	</div>
</div>
