<div class="modal_header">

  <%= link_to gravatar_for(@micropost.user, size: 48), @micropost.user %>

    <span class="user" id="<%= @micropost.user.name %>">
      <%= link_to @micropost.user.realname, @micropost.user %>
    </span>

    <small class="timestamp">
      <%= link_to "#{time_ago_in_words(@micropost.created_at)} ago",
      pretty_post_path(@micropost), class: "timestamp" %>
    </small>

    <span class="username">@<%= @micropost.user.name %></span>

  </div>

    <div class="modal_content">
      <span class="content" data-toggle="collapse" data-target="#modal_reply">
        <%= auto_link(@micropost.content, html: { target: '_blank' }) do |content|
            truncate(content, length: 30) end %>
      </span>
    </div>

    <div class="well-footer">

      <ul class="share-actions">
        <% if current_user?(@micropost.user) %>
          <%= render 'delete' %>
        <% else %>

        <li>
          <a class="shown" data-toggle="collapse" 
              data-target="#modal_reply"> 
          <i class="icon-comment"></i>Reply</a>
        </li>

        <% if current_user.liked?(@micropost) %>
          <%= render 'unlike' %>
        <% else %>
          <%= render 'like' %>
        <% end %>

      <% end %>
    </ul>

  <%= render 'form' %>

</div>
