<div class="modal_header">
  <%= link_to gravatar_for(@micropost.user), @micropost.user %>
      <span class="user">
        <%= link_to @micropost.user.realname, @micropost.user %>
      </span>

    <% if !current_user?(@micropost.user) %>
      <a data-toggle="collapse" data-target="#modal_reply" class="item-anchor">
    <% end %>

      <span class="timestamp">
        <small><%= time_ago_in_words(@micropost.created_at) %> ago</small>
      </span>
      <span class="username">
        <small>@<%= @micropost.user.name %></small>
      </span>
    </div> <!-- modal_header -->

      <div class="modal_content">
        <span class="content">
          <%= @micropost.content %>
        </span>
      </div>
    </a> <!-- item-anchor -->

				<div class="well-footer">

					<ul class="inline-share-stats share-stats modal_stats">
    				<li id="modal_like_count<%= @micropost.id %>">
              <a><i class="icon-heart"></i></a>
              <strong><%= @micropost.likes.count %></strong>
    				</li>
					</ul>

			    <ul class="share-actions">
			  <% if current_user?(@micropost.user) %>

          <%= render :partial => 'microposts/delete' %>
        <% else %>

            <li>
					    <a class="shown" data-toggle="collapse" data-target="#modal_reply"> 
					      <i class="icon-comment"></i>Reply
					    </a>
            </li>

			  <% if current_user.liked?(@micropost) %>
				    <%= render :partial => 'scripts/modal_unlike' %>
  		  <% else %>
		        <%= render :partial => 'scripts/modal_like' %>
  		  <% end %> <!-- if user liked -->
      <% end %>
    </ul>

					<div class="show collapse" id="modal_reply">
				    <div class="inline-share-reply">
						  <div class="modal-form">
                <%= render :partial => 'microposts/form' %>
					    </div>
            </div>
          </div> <!-- inline-share-reply -->

</div>
