<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>


<div class="photo tapetwo tapethree microposts-photo">

  <div class="microposts-profile">
    <div class="profile-header microposts-header">
      <div class="row-fluid">

        <div class="profile-inner microposts-inner">
          <%= render(partial: ("feeds/shared/footer"),
              locals: { item: @micropost }) %>

            <%= gravatar_for(@micropost.user, size: 48) %>

            <h1 class="fullname">
              <%= @micropost.user.realname %>
            </h1>

            <h2 class="name">
              <small>@</small><%= @micropost.user.name %>
            </h2>

            <p class="content">
              <%= render(partial: ("feeds/shared/content"),
              locals: { item: @micropost }) %>
            </p>
          </div>

        <%= render("like_form") %>

      </div><!-- row-fluid -->
    </div>
  </div>

</div><!-- tape-effects-->
