<ul class="nav">
  <li class=""><%= link_to "Home", :root %></li>
  <li class=""><%= link_to "Members", :users %></li>
  <li class=""><%= link_to "Blogs", :blogs_users %></li>
  <li class=""><%= link_to "About", :about %></li>
</ul>
<div class="page-fade navbar-form pull-right">
  <%= render 'layouts/login' %>
</div>
