<ul class="navbar nav">
	<li><%= link_to "Home", root_path %></li>

		<% if current_user?(@user) %>
			<li><%= link_to "Members", users_path %></li>
			<% else %>
				<li class="active"><%= link_to "Members", users_path %></li>
			<% end %>

			<li><%= link_to "Updates", updates_path %></li>
				<li><%= link_to "About",   about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					</ul>	
				<% if current_user?(@user) %>
			<%= render 'layouts/usernav_you' %>
		<% else %>
	<%= render 'layouts/usernav' %>
<% end %>

