<ul class="navbar nav">
  <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Members", users_path %></li>
      <li><%= link_to "Updates", updates_path %></li>
      <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
<%= render 'layouts/usernav_you' %>
