<div class="nav-collapse collapse">
  <% if signed_in? %>

    <ul id="links" class="nav navigation pull-left">
      <li class=""><%= link_to "Home", root_path %></li>
      <li class=""><%= link_to "Members", users_path %></li>
      <li class=""><%= link_to "Chatroom", chatroom_users_path %></li>
      <li class=""><%= link_to "You", user_path(current_user) %></li>
      <li class=""><%= link_to "About", about_path %></li>
    </ul>

    <ul id="links_right" class="nav pull-right">
      <%= render 'layouts/usernav' %>
    </ul>

  <% else %>

    <%= render 'layouts/guest' %>

  <% end %>
</div>
