<% if signed_in? %>

  <nav id="links" class="navbar nav navigation pull-left">
    <li class=""><%= link_to "Home", root_path %></li>
    <li class=""><%= link_to "Members", users_path %></li>
    <li class=""><%= link_to "About", about_path %></li>
  </nav>

  <nav id="links_right" class="nav nav-right pull-right">
    <%= render 'layouts/usernav' %>
  </nav>

  <% else %>

    <%= render 'layouts/guest' %>

<% end %>
