  <li id="fat-menu" class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= gravatar_for(current_user, size: 22) %> 
      <%= current_user.name %>
        <b class="caret"></b>
    </a>

    <nav id="links_dropdown" class="dropdown-menu">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Interactions", replies_user_path(current_user) %></li>
      <li><%= link_to "Account", edit_user_path(current_user) %></li>
        <li class="divider"></li>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </nav>

  </li>
