<ul class="nav pull-right">
  <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= gravatar_for current_user, size: 22 %> 
        <%= current_user.name %>
          <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
            <li class=""><%= link_to "Inbox", inbox_path %></li>
          <li class=""><%= link_to "Profile", current_user %></li>
        <li class=""><%= link_to "Account", edit_user_path(current_user) %></li>
      <li class="divider"></li>
    <li class=""><%= link_to "Sign out", signout_path, method: "delete" %></li>
  </li>
</ul>
