<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
		<meta name="description" content="A Social Platform in development">
		<meta name="author" content="Nathan Couch">
    	<%= stylesheet_link_tag "application", media: "all" %>
    	<%= javascript_include_tag "application" %>
    	<%= csrf_meta_tags %>
    	<%= render 'layouts/shim' %>
			<%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
    		<div class="container">
    			<%= render 'layouts/navigation' %>
						</div>
							</nav>
								</header>
    						<div class="container">
							<%= render 'layouts/messages' %>
    				<%= yield %>
					<footer class="footer">
    		<%= render 'layouts/footer' %>
			</div>
		</footer>
	</body>
</html>
