<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A Social Platform in development" %>">
    <meta name="author" content="<%= content_for?(:author) ? yield(:author) : "Nathan Couch" %>">
      <%= stylesheet_link_tag "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
      <%= yield(:head) %>
    </head>
    <body>
      <header class="navbar navbar-fixed-top">
        <nav class="navbar-inverse navbar-inner">
          <div class="container-fluid">
            <%= render 'layouts/navigation' %>
          </div>
        </nav>
      </header>
      <div class="page-wrapper" id="main" role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
      <footer class="footer">
        <div class="container">
          <%= render 'layouts/footer' %>
      </div>
    </footer>
  </body>
</html>
