<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="A Social Platform in development">
    <meta name="author" content="Nathan Couch">
    	<%= stylesheet_link_tag "application", media: "all" %>
    	<%= csrf_meta_tags %>
    	<%= render 'layouts/shim' %>
			<%= yield(:head) %>
		</head>
  <body>
		<div class="container page-wrapper">
			<%= render 'layouts/messages' %>
    	<%= yield %>
				<div class="container-fluid">
					<footer class="footer">
						<%= render 'layouts/footer' %>
					</footer>
				</div>
			</div>
		<%= javascript_include_tag "application" %>
	</body>
</html>
